
:root {
  --primary-dark: #1a2a4b;
  --accent-orange: #ff9900;
  --text-light: #ffffff;
  --text-dark: #333333;
  --font-family-base: 'Roboto', sans-serif;
}

/* Header-ის სტილები */
.main-nav {
  background-color: var(--primary-dark) !important;
}

.main-nav .nav-item .nav-link {
  color: var(--text-light) !important;
}

.main-nav .nav-item .nav-link:hover {
  color: var(--accent-orange) !important;
}

.main-nav .campaign-title {
  color: var(--accent-orange) !important;
  font-weight: 700;
}

.main-nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

html {
    scroll-behavior: smooth;
}
