// scss/_variables.scss

// ფერები
$primary: #007bff; // ძირითადი ლურჯი
$secondary: #6c757d; // ნაცრისფერი
$warning: #ffc107;  // ყვითელი (ღილაკებისთვის)
$dark: #343a40;    // მუქი
$light: #f8f9fa;   // ღია
$white: #fff;      // თეთრი

// ფონტები
$font-family-base: "Roboto", sans-serif;
