// scss/style.scss

// 1. ცვლადების იმპორტირება  პირველ რიგში
@import 'variables';

body {
    font-family: $font-family-base;
}

// 2. სექციების იმპორტირება
@import 'header';
@import 'hero'; // <--- ეს არის ახალი ხაზი!
